@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 10px;
}
body{
    background-color: #28223F;
    color: #B3B8CD;
    font-family: 'Poppins', sans-serif;;
}
li{
    list-style: none;
}

a{
    color: inherit;
}
section{
    width: 32rem;
    position:absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: 2px 6px 10px 4px #08041a;
}
.personal .name{
    margin-top: 1.5rem;
    text-align: center;
}
.personal .country{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0.2rem;
}
.personal .job{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 2.5rem;
}
.personal .button{
    text-align: center;
    margin: 1rem;
}
.personal button{
    border: 1px solid #03BFCB;
    border-radius: 0.3rem;
    padding: 0.8rem 1.8rem;
    font-size: 1.3rem;
}
.personal button:hover{
    cursor: pointer;    
}

.personal button.primary{
    background-color: #03BFCB;
    color: #231E39;
    margin-right: 0.5rem;
}

.personal button.secondary{
    background-color: transparent;
    color: #02899C;
    margin-left: 0.5rem;
}

/* .personal .pro{
    background-color: #FEBB0B;
    color: #231E39;
    border: 1px solid #FEBB0B;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    padding: 0.1rem 0.5rem;

} */
.personal{
    background-color: #231E39;
    padding: 2.5rem 0rem 1.5rem 0rem;
}
.personal img{
    width: 12rem;
    border: 0.2rem solid #03BFCB;
    border-radius: 50%;
    display: block;
    margin: auto;
    
}
.skills{
    background-color: #1F1a36;
    padding: 1.6rem 1rem;
}
.skills h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.skills ul li{
    display: inline-block;
    border: 0.2rem solid #272240;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.2rem;
}

.social {
    text-align: center;
}
.social i{
    font-size: 2rem;
    margin: 1rem 0.4rem;
}

.fa-linkedin:hover{
    color: #0A66C2;
}

.fa-instagram:hover{
    color: #AA38C7;
}

.fa-github:hover{
    color:#000000;
}

